
<div class="log-in">

<h2>Log in page </h2>
<br>

<form action="/process-login" method="POST">
<label>
  Username: 
  <input type="text" name="" placeholder="e.g exemple@gmail.com">
</label>
<br>
<br>
<label>
  Password: 
   <input type="password" name="" placeholder="*******">
</label>
<br>
<br>
<button class="button is-primary">Log in</button>
</form>

</div>
