        
<div class="container">
  <div class="container-login-form">
    <h2 class="title is-3">Login</h2>
      <form action="/process-login" method="POST" class="notification">
        <h5 class="subtitle is-6 ">Email</h5>          
          <input class="input" type="text" name="email" placeholder="e.g exemple@gmail.com">
        <br/>
        <h5 class="subtitle is-6 ">Password</h5>           
          <input class="input" type="password" name="password" placeholder="*****">
        <br/>
        {{#if message }}
          <div class="error-message">{{ message }}</div>
        {{/if}}
        <br/>
        <button class="button is-primary">Login</button>
        <br/>
        <p class="account-message">
          Don't have an account yet?
          <a href="/signup">Signup</a>
        </p>
    </form>
  </div>
</div>
    