<div class="log-in">
        <h2>Login page</h2>
        <br>
<div class="log-in">
    <form action="/process-login" method="POST" id="form-container">
      <label>
        Username:
      <input id="username" type="text" name="email" placeholder="e.g exemple@gmail.com">
      </label>
      <br><br>

      <label>
        Password:
        <input id="password" type="password" name="password" placeholder="*****">
      </label>
      
      {{#if message }}
      
      <br>
        <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>

      <button class="button is-primary">Login</button>
      <br><br>
      <p class="account-message">
        Don't have an account yet?
        <a href="/auth/login">Signup</a>
      </p>
    </form>
</div>
