<div class="sign-up">

<h2>Sign Up page</h2>
<br>


<form action="/process-signup" method="POST">
<label class="control">
  Fullname: 
   <input type="text" name="" placeholder="John....">
</label>
<br>
<br>
<label>
  Username: 
  <input type="text" name="" placeholder="e.g exemple@gmail.com">
</label>
<br>
<br>
<label>
  Password: 
   <input type="password" name="" placeholder="*******">
</label>
<br>
<br>
<div class="control">
  <button class="button is-primary">Sign up</button>
</div>
</form>

</div>