
<div class="container">
  <div class="container-login-form">
      <h2 class="title is-3">Sign up</h2>
      <form action="/process-signup" method="POST" class="notification">        
          <h5 class="subtitle is-6 ">Fullname:</h5>
          <input class="input " type="text" name="fullname" placeholder="john DOE......">        
        <br>
        <br>
        <h5 class="subtitle is-6 ">Email:</h5>
          <input class="input" type="email" name="email" placeholder="johnDOE@kgfht.com....">        
        <br>
        <br>
          <h5 class="subtitle is-6 ">Password:</h5>        
          <input class="input" type="password" name="password" placeholder="*******"/>        
        <br>
        <br>
          <h5 class="subtitle is-6 ">Phone number:</h5>        
          <input class="input " type="number" name="phoneNumber" placeholder="12..."/>        
        <br>
        <br>
         {{#if message }}
            <div class="error-message">{{ message }}</div>
          {{/if}}
        <br>
        <br>
        <button class="button is-primary">Sign up</button>
        <br>
        <br>
          <p class="account-message">
            Already have an account?
            <a href="/login">Login</a>
          </p>
      </form>
    </div>
</div>
