<h2>Sign Up page</h2>


<form action="/process-signup" method="POST">
<label>
  Fullname: 
  <input type="text" name="" placeholder="John....">
</label>
<br>
<br>
<label>
  Username: 
  <input type="text" name="" placeholder="e.g exemple@gmail.com">
</label>
<br>
<br>
<label>
  Password: 
   <input type="password" name="" placeholder="*******">
</label>
<br>
<br>
<button>Sign up</button>
</form>