{{!-- <h1>Home Page ⌂ </h1> --}}


<div class="columns">
  <div class="column department">Department</div>
  <div class="column sellers">Sellers</div>
  <div class="column is-half">Daily pick</div>
</div>