{{!-- <h1>Home Page ⌂ </h1> --}}


<div class="columns">
  <div class="column department">
    <a href="/departments">Department</a> 
    <br>
    <br>
    <br>
    <a href="/allproducts" id="all-products-link">All Products</a>
  </div>
  <div class="column sellers">Sellers</div>
  <div class="column is-half">Daily pick</div>
