<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a> 
      <a href="/mapOverview">Map Overview</a> 

    {{#if blahUser}}
      
      <strong id="user-email">{{blahUser.email}}</strong>

      <a href="/logout" id="logout">Logout</a>
     
      {{#if blahUser.isAdmin}}
          <a id="admin-zone">Admin Zone</a>
          <a href="/admin/users" id="all-users">All Users</a>
      {{/if}}

    {{else}}        
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/if}}
    
    </nav>
  </header>
  
    {{{body}}}


    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDEmqlOaQdjaDC5AG-yqIkSEKQfBhmfNCk"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
