<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  
    {{{body}}}


    {{!-- <footer>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact Us</a>
      <a href="/about">About</a>
    </footer> --}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
