<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a> 

    {{#if blahUser}}
      <strong id="user-email">{{blahUser.email}}</strong>
      <a href="/logout" id="logout">Logout</a>
      <a href="/mover"> Mover Zone</a>
      {{#if blahUser.isAdmin}}
         <!--"isAdmin" is defined in the model -->
          <h3>Admin Zone</h3>
          <a href="/admin/users">All products</a>
      {{/if}}
    {{else}}        
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/if}}
    
    </nav>
  </header>
  
    {{{body}}}


    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
