body {
  width: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background: rgb(206, 182, 153);
  height: 60px;
}
h2 {
  padding-left: 30px;
  margin-top: 30px;
  font-weight: bold;
}

h3 {
  padding-left: 30px;
  margin-top: 15px;
}

nav {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
}

a {
  color: tomato;
  text-decoration: none;
  padding-left: 20px;
}


#logout, #user-email {
  float: right;
  padding-right: 20px;
}

.departs {
  font-size: 17px;
  padding: 40px 40px;
}

#departments {
  color: black;
}

#products{
  padding-right: 80px;
  height: 300px;
}

#admin-zone {
  color: white;
}

#two-fifth {
  background-image: url("https://www.sonycenter.lu/13855-large_default/kdl-43we750.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 50px;
}

#first-fifth{
  background-image: url("https://images.homedepot-static.com/productImages/3ce1c600-2c7c-4a57-8720-1dd47e3d9f44/svn/stainless-steel-lg-electronics-french-door-refrigerators-lfxs30796s-64_1000.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#sec-fifth {
  background-image: url("https://www.ikea.com/PIAimages/0173791_PE328445_S5.JPG");
  background-size: contain;
  background-repeat: no-repeat;
}

#products-button {
  padding-left: 60px;
}
#all-users {
  color: black;
}
.sign-up, .log-in, .contact-page, .daily-page, .product-edit, .user-list {
  font-size: 17px;
  padding: 40px 40px;
}

.about-page {
  font-size: 17px;
  padding: 20px 20px;
}

.columns {
  margin-top: 30px;
  border:  tomato;
  height: 550px;
  width: 100%;
  margin-left: 0px;
}

.department {
  font-size: 18px;
  background: rgb(206, 182, 153);
  color: tomato;
  padding-left: 30px;
}

.sellers {
  font-size: 18px;
  background: gray;
  color: tomato;
  padding-left: 30px;
}

.is-half {
  background-image: url("https://wikiki.github.io/images/merry-christmas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: tomato;
  font-size: 18px;
  padding-left: 130px;
}
.container-sellerAdd-form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px auto;
  height:94vh;
}
.btn-addNewItems{
  display: flex;
  margin-top: 50px;
  margin-left: 160px;
}
.container-login-form{
  display: flex;
  width:400px;
  margin: 20px auto;
  flex-direction: column
}
.container-map {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  align-items: center;
}
.my-map {
  height: 60vh;
  width:80vw
}




//   margin-top: 70%;
//   background: slategray;
//   border: 2px solid tomato;
//   padding-top: 30px;
//   height: 80px;
//   width: 100%;
// }

// footer a {
//   float: right;
//   padding-right: 25px;
// }

