body {
  width: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background: rgb(206, 182, 153);
  height: 60px;
}
h2 {
  margin-top: 30px;
  font-weight: bold;
}

nav {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
}
a {
  // color: #00B7FF;
  color: tomato;
  text-decoration: none;
  padding-left: 20px;
}

#logout, #user-email {
  float: right;
  padding-right: 20px;
}

.sign-up {
  font-size: 17px;
  padding: 40px 40px;
}

.log-in {
  font-size: 17px;
  padding: 40px 40px;
}

.about-page {
  font-size: 17px;
  padding: 20px 20px;
}

.contact-page {
  font-size: 17px;
  padding: 40px 40px;
}

.columns {
  margin-top: 30px;
  border:  tomato;
  height: 550px;
  width: 100%;
  margin-left: 0px;
}

.department {
  font-size: 18px;
  background: rgb(206, 182, 153);
  color: tomato;
  padding-left: 30px;
}

.sellers {
  font-size: 18px;
  background: gray;
  color: tomato;
  padding-left: 30px;
}

.is-half {
  background-image: url("https://wikiki.github.io/images/merry-christmas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: tomato;
  font-size: 18px;
  padding-left: 130px;
}
.container-sellerAdd-form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px auto;
  height:94vh;
}
.btn-addNewItems{
  display: flex;
  margin-top: 50px;
  margin-left: 160px;
}

//   margin-top: 70%;
//   background: slategray;
//   border: 2px solid tomato;
//   padding-top: 30px;
//   height: 80px;
//   width: 100%;
// }

// footer a {
//   float: right;
//   padding-right: 25px;
// }

