body {
  width: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

header {
  background: #ceb699;
  height: 95px; }

h2 {
  padding-left: 30px;
  margin-top: 30px;
  font-weight: bold; }

h3 {
  padding-left: 30px;
  margin-top: 15px; }

nav {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px; }

nav ul {
  background: #1bc2a2; }

a {
  color: tomato;
  text-decoration: none;
  padding-left: 20px; }

#user-email {
  padding-top: 15px;
  padding-left: 90px; }

.departs {
  font-size: 17px;
  padding: 40px 40px; }

#departments {
  color: black; }

#products {
  padding-right: 80px;
  height: 300px; }

#admin-zone {
  color: tomato; }

#two-fifth {
  background-image: url("https://www.sonycenter.lu/13855-large_default/kdl-43we750.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 50px; }

#first-fifth {
  background-image: url("https://images.homedepot-static.com/productImages/3ce1c600-2c7c-4a57-8720-1dd47e3d9f44/svn/stainless-steel-lg-electronics-french-door-refrigerators-lfxs30796s-64_1000.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

#sec-fifth {
  background-image: url("https://www.ikea.com/PIAimages/0173791_PE328445_S5.JPG");
  background-size: contain;
  background-repeat: no-repeat; }

#products-button {
  padding-left: 60px; }

#all-users {
  color: black; }

#sign-up {
  padding-left: 150px; }

.sign-up, .log-in, .contact-page, .daily-page, .product-edit, .user-list {
  font-size: 17px;
  padding: 40px 40px; }

#signup-list {
  float: right;
  width: 220px; }

.about-page {
  font-size: 17px;
  padding: 20px 20px; }

.columns {
  margin-top: 30px;
  border: tomato;
  height: 550px;
  width: 100%;
  margin-left: 0px; }

.department {
  font-size: 18px;
  background: #ceb699;
  color: tomato;
  padding-left: 30px; }

.sellers {
  font-size: 18px;
  background: gray;
  color: tomato;
  padding-left: 30px; }

.is-half {
  background-image: url("https://wikiki.github.io/images/merry-christmas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: tomato;
  font-size: 18px;
  padding-left: 130px; }

.container-sellerAdd-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px auto;
  height: 94vh; }

.btn-addNewItems {
  display: flex;
  margin-top: 50px;
  margin-left: 160px; }

.container-login-form, .container-map, .container-moverAdd-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-login-form {
  width: 400px;
  margin: 20px auto; }

.container-map {
  margin: 5px auto; }

.my-map {
  height: 60vh;
  width: 80vw; }

.container-moverAdd-form {
  height: 60vh;
  width: 80vw;
  margin: 0 auto; }

.addItem-textArea {
  width: 400px;
  height: 200px; }

/**********************/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

ul li {
  display: block;
  position: relative;
  float: left;
  background: #1bc2a2; }

li ul {
  display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff; }

ul li a:hover {
  background: #2c3e50;
  color: white; }

li:hover > ul {
  display: block;
  position: absolute; }

li:hover li {
  float: none; }

li:hover a {
  background: #1bc2a2; }

li:hover li a:hover {
  background: #2c3e50;
  color: white; }

.main-navigation li ul li {
  border-top: 0; }

ul ul ul {
  left: 100%;
  top: 0; }

ul:before,
ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

ul:after {
  clear: both; }

/**********************************  Custum carroussel ********************/
#carousel-custum {
  width: 100vw;
  height: 50vh;
  margin: 0 auto; }

#slides {
  overflow: hidden;
  /* fix ie overflow issue */
  position: relative;
  width: 80vw;
  height: 50vh;
  /*border:1px solid #ccc;*/ }

/* remove the list styles, width : item width * total items */
#slides ul {
  position: relative;
  left: 0;
  top: 0;
  list-style: none;
  margin-left: 600px;
  padding: 0;
  width: 100vw; }

/* width of the item, in this case I put 250x250x gif */
#slides li {
  width: 450px;
  height: 400px;
  float: left; }

#slides li img {
  padding: 5px; }

/* Styling for prev and next buttons */
#btns {
  padding: 0 0 5px 0;
  float: right; }

#btns a {
  display: block;
  width: 31px;
  height: 32px;
  text-indent: -999em;
  float: left;
  outline: 0; }

a#prev {
  background: url(arrow.gif) 0 -31px no-repeat; }

a#prev:hover {
  background: url(arrow.gif) 0 0 no-repeat; }

a#next {
  background: url(arrow.gif) -32px -31px no-repeat; }

a#next:hover {
  background: url(arrow.gif) -32px 0 no-repeat; }

.clear {
  clear: both; }

/**********************************  /Custum carroussel ********************/

/*# sourceMappingURL=style.css.map */