
<div class="container">
    <div class="container-map ">
        <h2 class="title is-2">Welcome to the Map</h2>
            <div class="notification">
              <div class="my-map "></div>
            </div>
    </div>
</div>



