<div class="all-products">
   <h2> All products </h2>
   <br>
   <h3>List of all the products</h3>
</div>

<div class="columns" id="products">
     
     <div class="column is-two-fifths" id="two-fifth"></div>
     <br>
     <div class="column is-one-third" id="first-fifth"></div>
     <br>
     <div class="column is-one-third" id="sec-fifth"></div>
     <br>
</div>

<div class="columns" id="products-button">
   <div class="column is-two-fifths">
     <button class="button is-danger">View This Product</button>
   </div>
   <div class="column is-one-third">
      <button class="button is-danger">View This Product</button>
   </div>
   <div class="column is-one-third">
       <button class="button is-danger">View This Product</button>
   </div>
</div>
