<div class = "container">
                <div class="container-moverAdd-form">
                  <h2 class="title is-3">Add item</h2>
                    <form action="/add-item" method = "POST" class="notification">        
                      <div class="login-form-padding">             
                          <h4 class="subtitle is-6 ">Product type</h4>
                            <select name="productType" id="ddlProductType" class="button">
                                    <option value=""></option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Home appliance">Home appliance</option>
                                    <option value="Home furnishing">Home furnishing</option>                                    
                            </select> 
                      </div>                      
                            <br/>
                          <h4 class="subtitle is-6 ">Produit</h4>
                            <select name="product" id="ddlProduct"  class="button " >
                                    <option value=""></option>                        
                                    <option value="Television">Television</option>
                                    <option value="Phone">Phone</option>
                                    <option value="Washing machine">Washing machine</option> 
                                    <option value="Fridge machine">Frigde machine</option>                                   
                            </select>
                          </button>
                      <br/> 
                          <h4 class="subtitle is-6 ">Brand</h4>
                            <input class="input" type="text" name="brand" placeholder="Brand">
                     <br/>  
                          <h4 class="subtitle is-6 ">Model</h4>
                            <input class="input" type="text" name="model" placeholder="Model">
                       <h5 class="subtitle is-6 ">Product's pick up adress </h5>        
                        <input class="input location-input" type="text" placeholder="12..."/>        
                      <br/>
                        <!-- these will be set by out Place Autocomplete -->
                        <input type="hidden" name="latitude" class="lat-input" />
                        <input type="hidden" name="longitude" class="lng-input" />
                         <h4 class="subtitle is-6 ">Description:</h4>
                          <textarea class= "input addItem-textArea" type="text" name="description" placeholder="description" rows="4" cols="50"></textarea>
                      <br/>
                         <h4 class="subtitle is-6 ">Status</h4>
                              <select name="status" class="button">
                                    <option value="available">Available</option>
                                    <option value="sold">Sold</option>                                    
                            </select>                            
                     <br/>
                        <h4 class="subtitle is-6 ">imageUrl</h4>
                            <input class= "input" type="text" name="imageUrl" placeholder="imageUrl......">
                      <br/>
                       <h4 class="subtitle is-6">pdflink detail</h4>
                            <input class="input" type="text" name="pdflink" placeholder="pdflink......">
                       <br/>
                      <div class = "btn-addNewItems">
                        <button class="button is-link"> Add nex items</button>
                      </div>                      
                    </form>
                <div class="my-map" style="display: none;"></div>
           </div>
        </div>

    </div>
  </div>
</div>
